<poke-header></poke-header>

<main class="poke-details">
    <ng-template [ngIf]="isLoading">
        <section class="poke-details-header" [ngStyle]="getStyle(pokemon[0].types[0].type.name)">
            <div class="poke-details-header-title">
                <h2 class="poke-name">{{ pokemon[0].name }}</h2>
                <h4 class="poke-id">#{{pokemon[0].id}}</h4>
            </div>
            <img [src]="pokemon[0].sprites.other.dream_world.front_default" [alt]="pokemon[0].name">
        </section>
    
        <section class="poke-details-info">
            <div class="status">
                <h2 [ngStyle]="getStyleFont(pokemon[0].types[0].type.name)">Status:</h2>
                <hr class="hr-main">
                <ol>
                    <li *ngFor="let value of pokemon[0].stats">
                        {{ value.stat.name }}:
                        <strong>
                            {{ value.base_stat }}
                        </strong>
                        <hr>
                    </li>
                </ol>
            </div>
            <div class="habilits">
                <h2 [ngStyle]="getStyleFont(pokemon[0].types[0].type.name)">Habilidades:</h2>
                <hr class="hr-main">
                <ng-container *ngFor="let value of pokemon[0].moves; let i = index">
                    <li *ngIf="i < 3">
                        {{ value.move.name }}
                        <hr>
                    </li>
                </ng-container>
            </div>
        </section>
        <a [routerLink]="['']" class="btn" [ngStyle]="getStyle(pokemon[0].types[0].type.name)">
            Voltar
        </a>
    </ng-template>

    <img
        class="error"
        src="assets/error.png" 
        alt="API Error."
        width="60%"
        *ngIf="apiError"
    >

</main>