
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

header, h1{
    color: aliceblue;
}


@media (max-width: 870px) {

    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }

    header img, poke-search{
        margin: 1rem;
    }

}