/* You can add global styles to this file, and also import other style files */

@import url('./config-css/variables.css');
@import url('./config-css/reset.css');

html{
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
}

main{
    height: 100%;
    margin: 0.8rem 2rem 2rem 2rem;
    padding: 0 4rem;

    box-sizing: border-box;
}

#btnTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 3rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    cursor: pointer;
}

#btnTop img{
    position: relative;
    width: 4rem;
    height: 3rem;
    opacity: 80%;
}

@media (max-width: 870px){
    main{
        padding: 0 1rem;
    }
}