form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--white);
    border: 3px solid var(--secundary-color);
    border-radius: 20px;
}

form input, img{
    padding: 0 1rem;
}

input{
    border: none;
    margin: 1rem;
    padding: 1rem;

    background-color: var(--white);

    width: 100%;
}

img{
    width: 2rem;

    cursor: pointer;
}