form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--white);
    border: 3px solid var(--secundary-color);
    border-radius: 20px;
}



input{
    border: none;
    margin: 0.7rem 0.2rem;
    padding: 0.5rem;

    background-color: var(--white);

    width: 100%;
}

img{
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}