<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a href="" class="pokemon" *ngIf="pokemon.status" [ngStyle]="getStyle(pokemon.status.types[0].type.name)">
        <section class="pokemon__status">
            <h2>{{ pokemon.name }}</h2>
            <h4>#{{ pokemon.status.id}}</h4>
    
            <ul>
                <li *ngFor="let value of pokemon.status.types">
                    {{ value.type.name }}
                </li>
            </ul>
        </section>
    
        <section class="pokemon__image">
            <img 
                [src]="pokemon.status.sprites.other.dream_world.front_default" 
                [alt]="pokemon.name"
            >
        </section>
    </a>
</ng-template>